ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
PORT=4000

POSTGRES_HOST=localhost
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER_NAME=springforge-plugins
